.project-tile {
  position: relative;
  height: 180px;
  width: 180px;
  margin-bottom: 10px;
  text-align: center;
  background-color: black;
  border: 1px solid blue;
  color: white;
}

.project-tile-button {


  margin-top: 5px;



}

#aurora {
  background-image: url("img/aurora_bg.jpeg");
  background-position: center center;
  background-color: black;
  background-size: cover;
}
